﻿@model CrimeTracker.Core.Entities.Crime

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Crime</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriminalNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriminalNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfArrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfArrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrestingOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrestingOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfArrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfArrest)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CrimeNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
