﻿@model CrimeTracker.Core.Entities.Crime

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crime</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfArrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfArrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrestingOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrestingOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfArrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfArrest)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CrimeNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
