﻿@model CrimeTracker.Core.Entities.Crime

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Crime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="CriminalNo" class="control-label"></label>
                <input asp-for="CriminalNo" class="form-control" />
                <span asp-validation-for="CriminalNo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CrimeNo" />
            <div class="form-group">
                <label asp-for="CrimeName" class="control-label"></label>
                <input asp-for="CrimeName" class="form-control" />
                <span asp-validation-for="CrimeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimeClass" class="control-label"></label>
                <input asp-for="CrimeClass" class="form-control" />
                <span asp-validation-for="CrimeClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfArrest" class="control-label"></label>
                <input asp-for="PlaceOfArrest" class="form-control" />
                <span asp-validation-for="PlaceOfArrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrestingOfficer" class="control-label"></label>
                <input asp-for="ArrestingOfficer" class="form-control" />
                <span asp-validation-for="ArrestingOfficer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfArrest" class="control-label"></label>
                <input asp-for="DateOfArrest" class="form-control" />
                <span asp-validation-for="DateOfArrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

