﻿@model IEnumerable<CrimeTracker.Core.Entities.Crime>

@{
    ViewData["Title"] = "Index";
}
@section AddToHead{
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/sweetalert/sweetalert.css" />

}

<style>
    .full-screen {
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }

    .modal-full {
        /*min-width: 98% !important;*/
        margin: 10px !important;
        width: 98% !important;
        height: 92% !important;
        min-width: 98% !important;
        min-height: 92% !important;
        max-width: 98% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }

    ul li {
        list-style: none;
    }

    .span-space {
        margin-left: 10px;
    }

    .danger {
        color: red;
    }

    .full_modal-dialog {
        width: 98% !important;
        height: 92% !important;
        min-width: 98% !important;
        min-height: 92% !important;
        max-width: 98% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }

    .full_modal-content {
        height: 99% !important;
        min-height: 99% !important;
        max-height: 99% !important;
    }
</style>

<div class="row clearfix">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul>
                    <li class="header-dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#crimeAddModal"><i class="fa fa-plus-circle"></i> New Crime</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-responsive" id="crimeTableId" width="100%">
                        <thead class="thead-light">
                            <tr>
                                <th>CRIME NO</th>
                                <th>CRIME NAME</th>
                                <th>CRIME CLASS</th>
                                <th>PLACE OF ARREST</th>
                                <th>ARRESTING OFFICER</th>
                                <th>DATE OF ARREST</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal animated bounceIn modal-full" id="crimeAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog full_modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <h5 class="modal-title text-center" id="defaultModalLebal">New Crime</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <form asp-action="SaveCrime">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Crime Number</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="crime_no" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Crime Name</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="crime_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Crime Class</label>
                                            </div>
                                            <select class="custom-select" data-placeholder="Select" id="crime_class">
                                                <option>choose...</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Place of Arrest</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="place_of_arrest" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Arresting Officer</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="arresting_officer" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Date Of Arrest</span>
                                            </div>
                                            <input type="date" class="form-control" id="date_of_arrest" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <img style="display:none;" id="spinner" src="~/html/assets/vendor/select2/select2-spinner.gif" />
                <button type="button" class="btn btn-success" id="btnSave">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/html/mini-sidebar/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/html/assets/vendor/sweetalert/sweetalert.min.js"></script>

    <script src="~/html/assets/vendor/select2/select2.min.js"></script>

    <script>

        var model = {};
        model.CreatedBy = ['@User.Identity.Name'];

        var actionButton = function (obj) {
           return "<a href='/Criminals/Edit/" + obj.criminal_no + "' class='btn btn-sm btn-primary' title='Edit Details' style='border: none;'>" + "<i class='fa fa-pensil'></i> Edit Crime</a>";
        }
        $(document).ready(function () {
                 $('#crimeTableId').DataTable({
                    serverSide: true,
                    //"bRetrieve": true,
                    processing: true,
                    "oLanguage": { "sProcessing": "Loading... Please wait" },
                    paging:true,
                    //"filter":true,
                    pageLength: 10,
                    lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],
                    ajax: {
                        type: 'POST',
                        url: '@Url.Action("GetFilteredItems","Crimes")',
                        datatype: 'json',
                        //dataSrc: "",
                        //mDataProp: ""
                     },
                    "oSearch": { "sSearch": JSON.stringify(model) },
                    "columns": [
                        { 'data': 'CrimeNo'},
                        { 'data': 'CrimeName' },
                        { 'data': 'CrimeClass' },
                        { 'data': 'PlaceOfArrest'},
                        { 'data': 'ArrestingOfficer'},
                        { 'data': 'DateOfArrest',
                            render: function (e) {
                                if (e == null) {
                                    return "";
                                }
                                var date = new Date(e);
                                return formatDate(date);
                            }

                        }
                    ],
                    "buttons": [
                        'excel', 'pdf'
                    ],
                    'createdRow': function (row, data, index) {
                        $(row).append($("<td>").html(actionButton(data)));
                    },
                    ordering:true
                 });

            $('#btnSave').on('click', function () {
                if ($("#crime_no").val() == "") {
                    swal("Provide Crime No","Data Entry","error");
                    return;
                }

                if ($("#crime_name").val() == "") {
                    swal("Provide Crime Name","Data Entry","error");
                    return;
                }

                if ($("#crime_class").val() == "") {
                    swal("Provide Crime Class","Data Entry","error");
                    return;
                }

                //if (swal("You are about to save Crime Details. Continue ?") == true)
                //return;

                $(this).attr("disabled", true);
                $("#spinner").show();
                //Save function
                saveCrime();
            });
        });

        //Save Crime
        function saveCrime() {
            var crimeNo = $('#crime_no').val();
            var crimeName = $('#crime_name').val();
            var crimeClass = $('#crime_class').val();
            var placeOfArrest = $('#place_of_arrest').val();
            var arrestingOfficer = $('#arresting_officer').val();
            var dateOfArrest = $('#date_of_arrest').val();

            var crime = {
                CrimeNo: crimeNo,
                CrimeName: crimeName,
                CrimeClass: crimeClass,
                PlaceOfArrest: placeOfArrest,
                ArrestingOfficer: arrestingOfficer,
                DateOfArrest: dateOfArrest
            };

            $.ajax({
                type: 'POST',
                url:'@Url.Action("SaveCrime","Crimes")', //'/Crimes/SaveCrime',
                contentType: 'application/json',
                dataType: 'text',
                data:JSON.stringify(crime),
                success: function (e) {
                    //if (e == "Saved Successfully") {
                    //$('#crimeAddModal').modal('hide');
                    $("#spinner").hide();
                    swal("record saved successfully.", "Data Entry", "success");
                    $(this).attr("disabled", false);
                    //$('#crimeAddModal').modal('hide');
                    window.location.reload(true);
                    //}
                },
                error: function (e) {
                    swal("Error while inserting data", "Data Entry", "error");
                    $("#spinner").hide();
                    $(this).attr("disabled", false);
                }
            });
        };
        //Convert Date to ShortDateString
        function formatDate(date) {
              var monthNames = [
                        "Jan", "Feb", "Mar",
                        "Apr", "May", "Jun", "Jul",
                        "Aug", "Sep", "Oct",
                        "Nov", "Dec"
              ];

              var day = date.getDate();
              var monthIndex = date.getMonth();
              var year = date.getFullYear();

              return day + '-' + monthNames[monthIndex] + '-' + year;
        }

        function DeleteData(CustomerID) {
            if (confirm("Are you sure you want to delete ...?")) {
                   Delete(CustomerID);
            } else {
                return false;
            }
        };
        function Delete(CustomerID) {
            var url = '@Url.Content("~/")' + "Crimes/Delete";

            $.post(url, { ID: CustomerID }, function(data) {
                if (data) {
                    oTable = $('#criminalTableId').DataTable();
                    oTable.draw();
                } else {
                    alert("Something Went Wrong!");
                }
            });
        }

        //Details button listener
        function detailsClick(obj) {
            var criminalId = $(obj).closest('tr').find('td:first').html();
            alert('Id= ' + criminalId + ' for details');
        }
        function editClick(obj) {
            var criminalId = $(obj).closest('tr').find('td:first').html();
            alert('Id= ' + criminalId + ' for edit');
        }
        function deleteClick(obj) {
            var criminalId = $(obj).closest('tr').find('td:first').html();
            alert('Id= ' + criminalId + ' for delete');
        }
    </script>

}
