﻿@model CrimeTracker.Core.Entities.Crime

@{
    ViewData["Title"] = "SaveCrime";
}
@section AddToHead{
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/sweetalert/sweetalert.css" />

}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Add Crime Details</h5>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form asp-action="SaveCrime">

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="inputGroup-sizing-default">Crime Number</span>
                                    </div>
                                    <input type="text" class="form-control input-sm" id="crime_no" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="inputGroup-sizing-default">Crime Name</span>
                                    </div>
                                    <input type="text" class="form-control input-sm" id="crime_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Crime Class</label>
                                    </div>
                                    <select class="custom-select" data-placeholder="Select" id="crime_class">
                                        <option>choose...</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="inputGroup-sizing-default">Place of Arrest</span>
                                    </div>
                                    <input type="text" class="form-control input-sm" id="place_of_arrest" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="inputGroup-sizing-default">Arresting Officer</span>
                                    </div>
                                    <input type="text" class="form-control input-sm" id="arresting_officer" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Date Of Arrest</span>
                                    </div>
                                    <input type="date" class="form-control" id="date_of_arrest" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <img style="display:none;" id="spinner" src="~/html/assets/vendor/select2/select2-spinner.gif" />
                <button type="button" class="btn btn-success" id="btnSave">Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/html/assets/vendor/sweetalert/sweetalert.min.js"></script>

    <script src="~/html/assets/vendor/select2/select2.min.js"></script>

    <script>
    $(document).ready(function () {
        $('#btnSave').on('click', function () {

            if ($("#crime_no").val() == "") {
                    swal("Provide Crime No","Data Entry","error");
                    return;
                }

                if ($("#crime_name").val() == "") {
                    swal("Provide Crime Name","Data Entry","error");
                    return;
                }

                if ($("#crime_class").val() == "") {
                    swal("Provide Crime Class","Data Entry","error");
                    return;
                }

                //if (swal("You are about to save Crime Details. Continue ?") == true)
                //return;

                $(this).attr("disabled", true);
                $("#spinner").show();
                //Save function
                saveCrime();


        });
    })
    function saveCrime() {
        var crimeNo = $('#crime_no').val();
        var crimeName = $('#crime_name').val();
        var crimeClass = $('#crime_class').val();
        var placeOfArrest = $('#place_of_arrest').val();
        var arrestingOfficer = $('#arresting_officer').val();
        var dateOfArrest = $('#date_of_arrest').val();

        var crime = {
            CrimeNo: crimeNo,
            CrimeName: crimeName,
            CrimeClass: crimeClass,
            PlaceOfArrest: placeOfArrest,
            ArrestingOfficer: arrestingOfficer,
            DateOfArrest: dateOfArrest
        };

            $.ajax({
                type: 'POST',
                url:'@Url.Action("SaveCrime","Crimes")', //'/Crimes/SaveCrime',
                contentType: 'application/json',
                dataType: 'text',
                data:JSON.stringify(crime),
                success: function (e) {
                    //if (e == "Saved Successfully") {
                    //$('#crimeAddModal').modal('hide');
                    $("#spinner").hide();
                    swal("record saved successfully.", "Data Entry", "success");
                    $(this).attr("disabled", false);
                    //$('#crimeAddModal').modal('hide');
                    window.location.reload(true);
                    window.location.href='/CriminalAddresses/SaveCriminalAddress'
                    //}
                },
                error: function (e) {
                    swal("Error while inserting data", "Data Entry", "error");
                    $("#spinner").hide();
                    $(this).attr("disabled", false);
                }
            });


    }
    </script>

}
