﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title> CRIME TRACKER :: Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="crime tracker. criminals database">
    <meta name="author" content="CRIME TRACKER">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/html/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/html/assets/css/main.css">
    <link rel="stylesheet" href="~/html/assets/css/color_skins.css">

    <style>

        body {
            background: #fff;
        }

        .card {
            border: none;
            color: rebeccapurple;
        }

        .fa-lock:before {
            content: "\f023";
            color: #fff;
        }

        .card-header {
            background-color: transparent;
            border-bottom: 1px solid rgba(0,0,0,.125);
            font-weight: bold !important;
            padding: 20px;
        }

        .validation-summary-errors {
            color: red !important
        }
    </style>
</head>
<body>
    <div class="main-content">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
