﻿@model CrimeTracker.Core.Entities.CriminalAddress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CriminalAddress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.criminal_no)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.criminal_no)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.residence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.residence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone_no)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone_no)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lgc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lgc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
