﻿@model CrimeTracker.Core.Entities.CriminalAddress

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CriminalAddress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="criminal_no" class="control-label"></label>
                <input asp-for="criminal_no" class="form-control" />
                <span asp-validation-for="criminal_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="residence" class="control-label"></label>
                <input asp-for="residence" class="form-control" />
                <span asp-validation-for="residence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_no" class="control-label"></label>
                <input asp-for="phone_no" class="form-control" />
                <span asp-validation-for="phone_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lgc" class="control-label"></label>
                <input asp-for="lgc" class="form-control" />
                <span asp-validation-for="lgc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

