﻿@model IEnumerable<CrimeTracker.Core.Entities.CriminalAddress>

@{
    ViewData["Title"] = "GetAddresses";
}
@section AddToHead{
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/sweetalert/sweetalert.css" />

}

<div class="card" style="width:95%;margin:0 auto">
    <div class="card-header">
        <h5 class="card-title text-center">ADDRESSES</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped" id="tbl-address">
                <thead>
                    <tr>
                        <th>
                            RESIDENCE
                        </th>
                        <th>
                            PHONE NUMBER
                        </th>
                        <th>
                            EMAIL ADDRESS
                        </th>
                        <th>
                            STATE OF ORIGIN
                        </th>
                        <th>
                            LGC
                        </th>
                        <th>
                            CITY
                        </th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.residence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.state)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lgc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.city)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{



    <script src="~/html/mini-sidebar/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/html/assets/vendor/sweetalert/sweetalert.min.js"></script>

    <script src="~/html/assets/vendor/select2/select2.min.js"></script>

    <script>

        $(document).ready(function () {
            //var oTable =
            $('#tbl-address').DataTable({
                //"serverSide": true,
                //"bRetrieve": true,
                //"processing": true,
                //"oLanguage": { "sProcessing": "Loading... Please wait" },
                "paging": true,
                //"filter":true,
                "pageLength": 10,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                //"buttons": [
                   // 'excel', 'pdf'
                //]
            });
        });
    </script>

}
