﻿@model IEnumerable<CrimeTracker.Core.Entities.CriminalAddress>

@{
    ViewData["Title"] = "Index";
}
@section AddToHead{
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/sweetalert/sweetalert.css" />

}

<style>
    .full-screen {
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }

    .modal-full {
        /*min-width: 98% !important;*/
        margin: 10px !important;
        width: 98% !important;
        height: 92% !important;
        min-width: 98% !important;
        min-height: 92% !important;
        max-width: 98% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }

    ul li {
        list-style: none;
    }

    .span-space {
        margin-left: 10px;
    }

    .danger {
        color: red;
    }

    .full_modal-dialog {
        width: 98% !important;
        height: 92% !important;
        min-width: 98% !important;
        min-height: 92% !important;
        max-width: 98% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }

    .full_modal-content {
        height: 99% !important;
        min-height: 99% !important;
        max-height: 99% !important;
    }
</style>


<div class="row clearfix">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul>
                    <li class="header-dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm btn-default" data-toggle="modal" data-target="#AddressAddModal"><i class="fa fa-plus-circle"></i> Add Address</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-responsive table-condensed" id="criminalAddressId" width="100%">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    RESIDENCE
                                </th>
                                <th>
                                    PHONE NUMBER
                                </th>
                                <th>
                                    EMAIL
                                </th>
                                <th>
                                    STATE
                                </th>
                                <th>
                                    LGC
                                </th>
                                <th>
                                    CITY
                                </th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated bounceIn modal-full" id="AddressAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog full_modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <h5 class="modal-title text-center" id="defaultModalLebal">NEW ADDRESS</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <form asp-action="SaveCriminalAddress">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Residence</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="residence" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                            </div>
                                            <input type="text" id="phone_no" class="form-control mobile-phone-number" placeholder="Ex: +000 (000) 0000-00-00">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                            </div>
                                            <input type="text" id="email" class="form-control email" placeholder="Ex: example@example.com">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">State</label>
                                            </div>
                                            <select class="custom-select" data-placeholder="Select" id="state">
                                                <option>choose...</option>
                                                <option value="Abuja">FCT</option>
                                                <option value="Nasarawa">Nasarawa</option>
                                                <option value="Lagos">Lagos</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">LGC</label>
                                            </div>
                                            <select class="custom-select" data-placeholder="Select" id="lgc">
                                                <option>choose...</option>
                                                <option value="Kuje">Kuje</option>
                                                <option value="Toto">Toto</option>
                                                <option value="Ikeja">Ikeja</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">City</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="city" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <img style="display:none;" id="spinner" src="~/html/assets/vendor/select2/select2-spinner.gif" />
                <button type="button" class="btn btn-success" id="btnSave">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{



    <script src="~/html/mini-sidebar/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/html/assets/vendor/sweetalert/sweetalert.min.js"></script>

    <script src="~/html/assets/vendor/select2/select2.min.js"></script>

    <script>
        var model = {};
        model.CreatedBy = ['@User.Identity.Name'];

        var actionButton = function (obj) {
           return "<a href='/CriminalAddresses/Edit/" + obj.criminal_no + "' class='btn btn-sm btn-primary' title='Edit Details' style='border: none;'>" + "<i class='fa fa-pensil'></i> Edit</a>";
        }

        $(document).ready(function () {
            //var oTable =
             $('#criminalAddressId').DataTable({
                "serverSide": true,
                //"bRetrieve": true,
                "processing": true,
                "oLanguage": { "sProcessing": "Loading... Please wait" },
                "paging":true,
                //"filter":true,
                "pageLength": 10,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                ajax: {
                    type: 'POST',
                    url: '@Url.Action("GetFilteredItems","CriminalAddresses")'
                    //datatype:'json'
                },
                "oSearch": { "sSearch": JSON.stringify(model) },
                "columns": [
                    { 'data': 'residence'},
                    { 'data': 'phone_no'},
                    { 'data': 'email' },
                    { 'data': 'state'},
                    { 'data': 'lgc'},
                    { 'data': 'city' }
                 ],
                "buttons": [
                        'excel', 'pdf'
                ],
                'createdRow': function (row, data, index) {
                   $(row).append($("<td>").html(actionButton(data)));
                },
                "ordering":true
             });

            $('#btnSave').on('click', function () {

                if ($("#residence").val() == "") {
                    swal("Provide residence", "Data Entry", "error");
                    //alert("Provide residence");
                    return;
                }

                if ($("#phone_no").val() == "") {
                    swal("Provide Phone Number", "Data Entry", "error");
                    //alert("Provide Phone Number");
                    return;
                }

                if ($("#email").val() == "") {
                    swal("Provide Email Address", "Data Entry", "error");
                    //alert("Provide Email Address");
                    return;
                }

                $(this).attr("disabled", true);
                $("#spinner").show();

                saveAddress();
            });
        });

        //Save Address
        function saveAddress() {

            var residence = $('#residence').val();
            var phone = $('#phone_no').val();
            var email = $('#email').val();
            var state = $('#state').val();
            var lgc = $('#lgc').val();
            var city = $('#city').val();

            var address = {
                residence: residence,
                phone_no: phone,
                email: email,
                state: state,
                lgc: lgc,
                city: city
            };

            $.ajax({
                type: 'POST',
                url:'@Url.Action("SaveCriminalAddress","CriminalAddresses")', //'/CriminalAddresses/SaveCriminalAddress',
                contentType: 'application/json',
                dataType:'text',
                data: JSON.stringify(address),
                //cache: false,
                //processData: false,
                //contentType:false,
                success: function (e) {
                        
                    $("#spinner").hide();
                    $(this).attr("disabled", false);
                    //$('#AddressAddModal').modal('hide');
                    window.location.href='/criminals/index'//(true);
                    //}
                },
                error: function (e) {
                    swal("Error while inserting data", "Data Entry", "error");
                    $("#spinner").hide();
                    $(this).attr("disabled", false);
                }
            });
        };

    //Convert Date to ShortDateString
    function formatDate(date) {
          var monthNames = [
                    "Jan", "Feb", "Mar",
                    "Apr", "May", "Jun", "Jul",
                    "Aug", "Sep", "Oct",
                    "Nov", "Dec"
          ];

          var day = date.getDate();
          var monthIndex = date.getMonth();
          var year = date.getFullYear();

          return day + '-' + monthNames[monthIndex] + '-' + year;
    }

    function DeleteData(CustomerID) {
        if (confirm("Are you sure you want to delete ...?")) {
               Delete(CustomerID);
        } else {
            return false;
        }
    };
    function Delete(CustomerID) {
        var url = '@Url.Content("~/")' + "Criminals/Delete";

        $.post(url, { ID: CustomerID }, function(data) {
            if (data) {
                oTable = $('#criminalTableId').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    }

    //Details button listener
    function detailsClick(obj) {
        var criminalId = $(obj).closest('tr').find('td:first').html();
        alert('Id= ' + criminalId + ' for details');
    }
    function editClick(obj) {
        var criminalId = $(obj).closest('tr').find('td:first').html();
        alert('Id= ' + criminalId + ' for edit');
    }
    function deleteClick(obj) {
        var criminalId = $(obj).closest('tr').find('td:first').html();
        alert('Id= ' + criminalId + ' for delete');
    }
    </script>

}

