﻿@model CrimeTracker.Core.Entities.CriminalAddress

@{
    ViewData["Title"] = "Create";
}
@section AddToHead{
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/sweetalert/sweetalert.css" />

}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-lg-center">Criminal Address</h5>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form asp-action="SaveCriminalAddress">

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="inputGroup-sizing-default">Residence</span>
                                    </div>
                                    <input type="text" class="form-control input-sm" id="residence" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                    </div>
                                    <input type="text" id="phone_no" class="form-control mobile-phone-number" placeholder="Ex: +000 (000) 0000-00-00">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                    <input type="text" id="email" class="form-control email" placeholder="Ex: example@example.com">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">State</label>
                                    </div>
                                    <select class="custom-select" data-placeholder="Select" id="state">
                                        <option>choose...</option>
                                        <option value="Abuja">FCT</option>
                                        <option value="Nasarawa">Nasarawa</option>
                                        <option value="Lagos">Lagos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">LGC</label>
                                    </div>
                                    <select class="custom-select" data-placeholder="Select" id="lgc">
                                        <option>choose...</option>
                                        <option value="Kuje">Kuje</option>
                                        <option value="Toto">Toto</option>
                                        <option value="Ikeja">Ikeja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="inputGroup-sizing-default">City</span>
                                    </div>
                                    <input type="text" class="form-control input-sm" id="city" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <img style="display:none;" id="spinner" src="~/html/assets/vendor/select2/select2-spinner.gif" />
                <button type="button" class="btn btn-success" id="btnSave">Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/html/assets/vendor/sweetalert/sweetalert.min.js"></script>

    <script src="~/html/assets/vendor/select2/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnSave').on('click', function () {

                if ($("#residence").val() == "") {
                    swal("Provide residence", "Data Entry", "error");
                    //alert("Provide residence");
                    return;
                }

                if ($("#phone_no").val() == "") {
                    swal("Provide Phone Number", "Data Entry", "error");
                    //alert("Provide Phone Number");
                    return;
                }

                if ($("#email").val() == "") {
                    swal("Provide Email Address", "Data Entry", "error");
                    //alert("Provide Email Address");
                    return;
                }

                $(this).attr("disabled", true);
                $("#spinner").show();

                saveAddress();

            });
        })
        //Save Address
        function saveAddress() {

            var residence = $('#residence').val();
            var phone = $('#phone_no').val();
            var email = $('#email').val();
            var state = $('#state').val();
            var lgc = $('#lgc').val();
            var city = $('#city').val();

            var address = {
                residence: residence,
                phone_no: phone,
                email: email,
                state: state,
                lgc: lgc,
                city: city
            };

            $.ajax({
                type: 'POST',
                url:'@Url.Action("SaveCriminalAddress","CriminalAddresses")', //'/CriminalAddresses/SaveCriminalAddress',
                contentType: 'application/json',
                dataType:'text',
                data: JSON.stringify(address),
                //cache: false,
                //processData: false,
                //contentType:false,
                success: function (e) {

                    $("#spinner").hide();
                    $(this).attr("disabled", false);
                    //$('#AddressAddModal').modal('hide');
                    window.location.href='/criminals/index'//(true);
                    //}
                },
                error: function (e) {
                    swal("Error while inserting data", "Data Entry", "error");
                    $("#spinner").hide();
                    $(this).attr("disabled", false);
                }
            });
        };
    </script>

}

