﻿@page
@model LoginModel

@{
    Layout = "_LayoutLogin";
    //ViewData["Title"] = "Log in";
}

@*<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <section>
                <form id="account" method="post" class="form-auth-small">
                    <h4>log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-3"></div>
    </div>*@


<div class="container">
    <div class="row shadow-lg" style="margin-top: 4rem;background:#fff;">

        <div class="col-7" style="background: url(../html/assets/images/logo/handcuff.png); background-size: cover;">
        </div>
        <div class="col-5">
            <div class="" style="color:rebeccapurple;">
                <div class="card-header">
                    <p class="lead text-center mb-2 font-weight-bold">Login to your account</p>
                </div>
                <div class="card-body">
                    <form class="form-auth-small" id="account" method="post">
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        @*<div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>*@
                        <div class="form-group clearfix">
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox" id="RememberMe" asp-for="Input.RememberMe">
                                <span>Remember me</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-purple btn-lg btn-block" style="        background: rebeccapurple;
        color: #fff">
                            LOGIN
                        </button>
                        <br />
                        <br />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}