﻿
    <table id="tbCriminal" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>

            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td>
                    <select id="ddlSearchLength" name="ddlSearchLength" style="width:80px;padding:3px;">
                        <option value="500"> From Last 500 </option>
                        <option value="1000">From Last 1000 </option>
                        <option value="2000">From Last 2000 </option>
                        <option value="5000">From Last 5000 </option>
                        <option value="10000">From Last 10000 </option>
                        <option value="0"> All </option>
                    </select>
                </td>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>

            </tr>
        </tfoot>
    </table>
