﻿@model CrimeTracker.Core.Entities.Criminal
@using CrimeTracker.Core.Entities

@{
    ViewData["Title"] = "Details";

    if (ViewBag.Criminal != null)
    {
        var criminalDetail = ViewBag.Criminal;
    }

}
<style>
    .table-cells {
        width: 210px;
    }

    .img-style {
        width: 140px;
        height: 120px;
        margin: 10px;
        border-bottom-style: groove;
        border-radius: 15px;
    }

    .textFormat {
        text-align: left;
        border: none;
    }

    .detailDisplay {
        color: green;
        text-transform: uppercase;
        font-weight: bold;
        text-align: right;
    }

    dl {
        /*border: 3px double #ccc;*/
        padding: 0.5em;
    }

    dt {
        /*float: left;
                clear: left;*/
        /*width: 100px;*/
        text-align: right;
        font-weight: bold;
        color: green;
    }

        dt::after {
            content: ":";
        }

    dd {
        /*margin: 0 0 0 110px;
                padding: 0 0 0.5em 0;*/
        text-align: left;
    }
</style>


@if (ViewBag.Message != null)
{
    <span class="success sweet-alert"> @ViewBag.Message</span>
}
<div class="img-fluid">
    <div class="col-sm-2">
        <img alt="Person" class="img-style" src="~/ImageFiles/@ViewBag.Criminal.image_path" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card" style="margin-bottom:5px;">
            <div class="card-header">
                <h4 class="card-title text-center">PERSONAL DATA</h4>
            </div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    FIRST NAME:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.first_name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    MIDDLE NAME:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.middle_name" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    LAST NAME:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.last_name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    SEX:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.sex" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    DATE OF BIRTH:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.date_of_birth.ToShortDateString()" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    HEIGHT:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.height" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    WEIGHT:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.weight" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    EYE COLOR:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.eye_color" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    HAIR COLOR:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.hair_color" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    BUILD:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.build" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    SCARS AND MARKS:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="col-md-7 form-control textFormat" readonly value="@ViewBag.Criminal.scars_and_marks" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    OCCUPATION:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.occupation" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    KNOWN GANG AFFILIATION:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.known_gang_affiliation" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 detailDisplay">
                                    NATIONAL IDENTITY NUMBER:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" style="background-color:white" class="form-control textFormat" readonly value="@ViewBag.Criminal.national_identity" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card" style="height:350px; margin-bottom:5px;">
            <div class="card-header">
                <h4 class="card-title text-center">PRESENT ADDRESS</h4>
            </div>
            <div class="card-body">
                <div>
                    <dl class="row">
                        <dt class="col-md-6 col-sm-12">
                            RESIDENCE
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Address.residence
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            PHONE NUMBER
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Address.phone_no
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            EMAIL ADDRESS
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Address.email
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            STATE
                        </dt>
                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Address.state
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            LOCAL GOVERNMENT COUNCIL
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Address.lgc
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            CITY
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Address.city
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card" style="height:350px; margin-bottom:5px;">
            <div class="card-header">
                <h4 class="card-title text-center">RECENT CRIME</h4>
            </div>
            <div class="card-body">
                <div>
                    <dl class="row">
                        <dt class="col-md-6 col-sm-12">
                            CRIME NAME
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Crimes.CrimeName
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            CRIME CLASS
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Crimes.CrimeClass
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            PLACE OF ARREST
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Crimes.PlaceOfArrest
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            ARRESTING OFFICER
                        </dt>
                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Crimes.ArrestingOfficer
                        </dd>

                        <dt class="col-md-6 col-sm-12">
                            DATE OF ARREST
                        </dt>

                        <dd class="col-md-6 col-sm-12">
                            @ViewBag.Crimes.DateOfArrest.ToShortDateString()
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">CRIME HISTORY</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-responsive" id="crimeHistoryTableId" style="margin:0 auto; width:50%">
                        <thead class="thead-light">
                            <tr>
                                <th class="table-cells">CRIME DATE</th>
                                <th class="table-cells">CRIME NAME</th>
                                <th class="table-cells">PLACE OF CRIME </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CriminalHistory item in ViewBag.Histories)
                            {
                                <tr>
                                    <td>@item.date.ToShortDateString()</td>
                                    <td>@item.charge_and_disposition</td>
                                    <td>@item.city</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
