﻿@model IEnumerable<CrimeTracker.Core.Entities.Criminal>

@{
    ViewData["Title"] = "Index";
}
@section AddToHead{
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/sweetalert/sweetalert.css" />

}
<style>
    .errmsg
    {
        color: red;
    }
    .card-big {
        width: 1200px;
        margin: 0 auto;
    }

    .full-screen {
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }

    .modal-full {
        /*min-width: 98% !important;*/
        margin: 10px !important;
        width: 98% !important;
        height: 92% !important;
        min-width: 98% !important;
        min-height: 92% !important;
        max-width: 98% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }

    ul li {
        list-style: none;
    }

    .span-space {
        margin-left: 10px;
    }

    .danger {
        color: red;
    }

    .full_modal-dialog {
        width: 98% !important;
        height: 92% !important;
        min-width: 98% !important;
        min-height: 92% !important;
        max-width: 98% !important;
        max-height: 92% !important;
        padding: 0 !important;
    }

    .full_modal-content {
        height: 99% !important;
        min-height: 99% !important;
        max-height: 99% !important;
    }
    .card-header-color{
        /*background-color:#608478 !important;*/
        background-color:#808080 !important;
    }
</style>

<div class="row clearfix" style="width:96%;margin:20px;">
    <div class="col-lg-12 col-md-12 mb-5">
        <div class="card card-big" style="width:98%; margin:0 auto">
            <div class="card-header card-header-color">
                <ul>
                    <li class="header-dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm btn-default" data-toggle="modal" data-target="#criminalAddModal"><i class="fa fa-plus-circle"></i> New</a>
                    </li>
                </ul>
                @if (ViewBag.Message != null)
                {
                    <span class="success sweet-alert"> @ViewBag.Message</span>
                }

            </div>
            <div class="card-body">
                <h4></h4>
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-responsive" id="criminalTableId" width="95%" style="margin:0 auto">
                        <thead class="thead-light">
                            <tr>
                                <th>CRIMINAL NO</th>
                                <th>FIRST NAME</th>
                                <th> MIDDLE NAME</th>
                                <th>LAST NAME</th>
                                @*<th>SEX</th>
                                <th>DATE OF BIRTH</th>*@
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal animated bounceIn modal-full" id="criminalAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog full_modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <h5 class="modal-title text-center" id="defaultModalLebal">New Criminal</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <form asp-action="SaveCriminal" asp-controller="Criminals" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="margin:10px;">
                                        <img class="img-fluid" src="~/app-images/man-user.png" alt="Avatar" width="100" height="100" id="output" />
                                        <input class="dropify dropify-font-upload" data-allowed-file-extensions=" jpeg png" type="file" id="img-id" onchange='openFile(event)' />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Criminal Number</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="criminal_no" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">First Name</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="first_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Middle Name</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="middle_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Last Name</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="last_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Sex</label>
                                            </div>
                                            <select class="custom-select" data-placeholder="Select" id="sex">
                                                <option>choose...</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">National Identity Number</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="national_identity" aria-label="Default" aria-describedby="inputGroup-sizing-default">&nbsp;<span id="nin-errmsg" class="errmsg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Date Of Birth</span>
                                            </div>
                                            <input type="date" class="form-control" id="date_of_birth" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Height</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="height" aria-label="Default" aria-describedby="inputGroup-sizing-default">&nbsp;<span id="height-errmsg" class="errmsg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Weight</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="weight" aria-label="Default" aria-describedby="inputGroup-sizing-default">&nbsp;<span id="weight-errmsg" class="errmsg"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Eye Color</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="eye_color" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Hair Color</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="hair_color" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Body Build</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="build" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Scars and Marks</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="scars_and_marks" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Occupation</span>
                                            </div>
                                            <select class="custom-select" data-placeholder="Select" id="occupation">
                                                <option>choose...</option>
                                                <option value="Civil Servant">Civil Servant</option>
                                                <option value="Farming">Farming</option>
                                                <option value="House Wife">House Wife</option>
                                                <option value="Artisant">Artisant</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Known Gang Affiliation</span>
                                            </div>
                                            <input type="text" class="form-control input-sm" id="known_gang_affiliation" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Citizenship</span>
                                            </div>
                                            <select class="custom-select" data-placeholder="Select" id="citizen">
                                                <option>choose...</option>
                                                <option value="Nigerian">Nigerian</option>
                                                <option value="Foreigner">Foreigner</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <img style="display:none;" id="spinner" src="~/html/assets/vendor/select2/select2-spinner.gif" />
                <button type="button" class="btn btn-success" id="btnSave">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/html/mini-sidebar/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/html/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/html/assets/vendor/sweetalert/sweetalert.min.js"></script>

    <script src="~/html/assets/vendor/select2/select2.min.js"></script>


    <script>

         var model = {};
        model.CreatedBy = ['@User.Identity.Name'];

        $(document).ready(function () {
            //called when key is pressed in textbox
                $("#height").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        $("#height-errmsg").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });

                $("#weight").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        $("#weight-errmsg").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });

                $("#national_identity").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        $("#nin-errmsg").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });

            var actionButton = function (obj) {
                return "<a href='/Criminals/Details/" + obj.criminal_no + "' class='btn btn-sm btn-primary' title='View Details' style='border: none;'>" + "<i class='fa fa-eye'></i> View details</a> <a href='/Biometric/index?criminalNo=" + obj.criminal_no + "' class='btn btn-sm btn-primary' title='Biometric' style='border: none;'>" + "<i class='fa fa-bomb'></i> Biometric</a> <a href='/crimes/getcrimes?criminalNo=" + obj.criminal_no + "' class='btn btn-sm btn-primary' title='Crimes' style='border: none;'>" + "<i class='fa fa-bomb'></i> Crimes</a> <a href='/CriminalAddresses/GetAddresses?criminalNo=" + obj.criminal_no + "' class='btn btn-sm btn-primary' title='Addresses' style='border: none;'>" + "<i class='fa fa-bomb'></i> Addresses</a>" ;
            }

            $('#criminalTableId').DataTable({
                "serverSide": true,
                //"bRetrieve": true,
                "processing": true,
                "oLanguage": { "sProcessing": "Loading... Please wait" },
                "paging": true,
                //"filter":true,
                "pageLength": 10,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                ajax: {
                    type: 'POST',
                    url: '@Url.Action("GetFilteredItems","Criminals")',
                    datatype: 'json'
                },
                "oSearch": { "sSearch": JSON.stringify(model) },
                "columns": [
                    { 'data': 'criminal_no' },
                    { 'data': 'first_name' },
                    { 'data': 'middle_name' },
                    { 'data': 'last_name' }
                    //{ 'data': 'sex' },
                    //{
                    //    'data': 'date_of_birth',
                    //    'render': function (e) {
                    //        if (e == null) {
                    //            return "";
                    //        }
                    //        var date = new Date(e);
                    //        return formatDate(date);
                    //    }

                    //}
                ],
                "buttons": [
                    'excel', 'pdf'
                ],
                'createdRow': function (row, data, index) {
                    $(row).append($("<td>").html(actionButton(data)));
                },
                "ordering": true
            });

            $('#btnSave').on('click', function () {
                if ($("#criminal_no").val() == "") {
                    swal("provide criminal no", "criminal details", "error");
                    //alert("Provide Criminal No");
                    return;
                }

                if ($("#first_name").val() == "") {
                    swal("provide first name", "criminal details", "error");
                    //alert("Provide First Name");
                    return;
                }

                if ($("#last_name").val() == "") {
                    swal("provide last name", "criminal details", "error");
                    //alert("Provide Last Name");
                    return;
                };
                var output = document.getElementById('output');
                    //output.src = dataURL;
                if (output.src=="https://localhost:44324/app-images/man-user.png" || output.src==null) {
                    swal("select image to upload or snap using the camera", "criminal details", "error");
                    //alert("Provide Last Name");
                    return;
                };
                 

                //if (swal("You are about to save Criminal Details. Continue ?","Data Entry","success") == true)
                //    return;
                $(this).attr("disabled", true);
                 $("#spinner").show();
                //Save to Db
                //saveCriminal();

                var criminalNo = $('#criminal_no').val();
                var firstName = $('#first_name').val();
                var middleName = $('#middle_name').val();
                var lastName = $('#last_name').val();
                var sex = $('#sex').val();
                var dateOfBirth = $('#date_of_birth').val();
                var height = $('#height').val();
                var weight = $('#weight').val();
                var eyeColor = $('#eye_color').val();
                var hairColor = $('#hair_color').val();
                var build = $('#build').val();
                var scarsMarks = $('#scars_and_marks').val();
                var occupation = $('#occupation').val();
                var knownGangAffiliation = $('#known_gang_affiliation').val();
                var citizen = $('#citizen').val();
                var nationalIdentity = $('#national_identity').val();
                var file = $('#img-id')[0].files[0];

                var data = new FormData();

                data.append('file', file);

                var criminal = {
                    criminal_no: criminalNo,
                    first_name: firstName,
                    middle_name: middleName,
                    last_name: lastName,
                    sex: sex,
                    date_of_birth: dateOfBirth,
                    height: height,
                    weight: weight,
                    eye_color: eyeColor,
                    hair_color: hairColor,
                    build: build,
                    scars_and_marks: scarsMarks,
                    occupation: occupation,
                    known_gang_affiliation: knownGangAffiliation,
                    citizen: citizen,
                    national_identity: nationalIdentity
                };
                data.append('model', JSON.stringify(criminal));

                $.ajax({
                    type: 'POST',
                    url: '/criminals/SaveCriminal',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'text',
                    data:data,//JSON.stringify(criminal),
                    cache: false,
                    processData: false,
                    contentType:false,
                    success: function (e) {
                        //$('#criminalAddModal').modal('hide');
                        swal("record saved successfully.", "Data Entry", "success");
                        $("#spinner").hide();
                        $(this).attr("disabled", false);
                        //window.location.reload(true);
                        window.location.href='/Crimes/SaveCrime'
                    },
                    //complete: function (e) {
                    //    //if (e == "Saved Successfully") {
                    
                    //        swal("record saved successfully.", "Data Entry", "success");
                    //        $("#spinner").hide();
                    //        $(this).attr("disabled", false);
                    //        $('#criminalAddModal').modal('hide');
                    //        window.location.reload(true);
                    //    //}
                    //},
                    error: function (e) {
                        swal("Error while inserting data", "Data Entry", "error");
                        ("#spinner").hide();
                        $(this).attr("disabled", false);
                        //alert("Error while inserting data");
                    }
                });


            });

            //$('#criminalTableId tbody').on( 'click', '.details-view', function () {
            //    var data = criminalTable.row($(this).parents('tr')).data();
            //    var number = data.criminal_no;

            //});
        });

    //Saving criminal details to Database
    function saveCriminal() {
        
    };

    //Preview Image before saving
    var openFile = function (event) {
                var input = event.target;

                var reader = new FileReader();
                reader.onload = function () {
                    var dataURL = reader.result;
                    var output = document.getElementById('output');
                    output.src = dataURL;
                };
                reader.readAsDataURL(input.files[0]);
            };

    //Convert Date to ShortDateString
    function formatDate(date) {
          var monthNames = [
                    "Jan", "Feb", "Mar",
                    "Apr", "May", "Jun", "Jul",
                    "Aug", "Sep", "Oct",
                    "Nov", "Dec"
          ];

          var day = date.getDate();
          var monthIndex = date.getMonth();
          var year = date.getFullYear();

          return day + '-' + monthNames[monthIndex] + '-' + year;
    }

    function DeleteData(CustomerID) {
        if (confirm("Are you sure you want to delete ...?")) {
               Delete(CustomerID);
        } else {
            return false;
        }
    };
    function Delete(CustomerID) {
        var url = '@Url.Content("~/")' + "Criminals/Delete";

        $.post(url, { ID: CustomerID }, function(data) {
            if (data) {
                oTable = $('#criminalTableId').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    }

    //Details button listener
    function detailsClick(obj) {
        var criminalId = $(obj).closest('tr').find('td:first').html();
        alert('Id= ' + criminalId + ' for details');
    }
    function editClick(obj) {
        var criminalId = $(obj).closest('tr').find('td:first').html();
        alert('Id= ' + criminalId + ' for edit');
    }
    function deleteClick(obj) {
        var criminalId = $(obj).closest('tr').find('td:first').html();
        alert('Id= ' + criminalId + ' for delete');
    }
    </script>

}
