﻿@model CrimeTracker.Core.Entities.Criminal
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "SaveCriminal";
}

@section AddToHead{
    <style>
        .readonly-val {
            padding-left: 10px;
            font-weight: bold;
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
        }

        .timeline-item {
            padding: 2em 3em 0em;
        }

        .small-control {
            font-size: small;
        }

        .alert-dismissible {
            padding-right: 0rem;
        }

        .card-header-color {
            color: #550eb3 !important;
            font-weight: bold;
        }

        .edit-header-button {
            float: right;
            color: #fff;
            font-size: smaller;
            border-radius: 0.7rem;
        }

        .input-daterange input {
            text-align: left !important;
        }

        /*.input-group-text {
            color: green;
            font-weight: bold;
        }*/

        .delete-tr {
            border-radius: 1rem;
        }
    </style>

    <link rel="stylesheet" href="~/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/html/assets/vendor/sweetalert/sweetalert.css" />
    <script>
        //var employeeid = @ViewBag.employeeid;
        //var departments = @Html.Raw(JsonConvert.SerializeObject(ViewBag.department));
        //var employees = @Html.Raw(JsonConvert.SerializeObject(ViewBag.employees));
        //var role = '@ViewBag.rolename';
        //var data_List = [];
    </script>
}

<div class="col-md-4 col-sm-6" style="margin:10px;">
    <img class="img-fluid" src="~/app-images/man-user.png" alt="Avatar" width="100" height="100" id="output" />
    <input asp-for="image_path" class="form-control" type="file" id="img-id" onchange='openFile(event)' />
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Add Criminal Details</h4>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <form asp-action="SaveCriminal" asp-controller="Criminals" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Criminal Number</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="criminal_no" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">First Name</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="first_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Middle Name</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="middle_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-sm" id="inputGroup-sizing-default">Last Name</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="last_name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Sex</label>
                            </div>
                            <select class="custom-select" data-placeholder="Select" id="sex">
                                <option selected="" disabled>choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Date Of Birth</span>
                            </div>
                            <input type="date" class="form-control" id="date_of_birth" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Height</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="height" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Weight</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="weight" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Eye Color</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="eye_color" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Hair Color</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="hair_color" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Body Build</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="build" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Scars and Marks</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="scars_and_marks" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Occupation</span>
                            </div>
                            <select class="custom-select" data-placeholder="Select" id="occupation">
                                <option selected="" disabled>choose...</option>
                                <option value="Civil Servant">Civil Servant</option>
                                <option value="Farming">Farming</option>
                                <option value="House Wife">House Wife</option>
                                <option value="Artisant">Artisant</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Known Gang Affiliation</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="known_gang_affiliation" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Citizenship</span>
                            </div>
                            <select class="custom-select" data-placeholder="Select" id="citizen">
                                <option selected="" disabled>choose...</option>
                                <option value="Nigerian">Nigerian</option>
                                <option value="Foreigner">Foreigner</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">National Identity Number</span>
                            </div>
                            <input type="text" readonly class="form-control input-sm" id="national_identity" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <img style="display:none;" id="spinner" src="~/html/assets/vendor/select2/select2-spinner.gif" />
                    <input type="button" value="Create" class="btn btn-primary" id="btnSave" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">

</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {

    <!-- SweetAlert Plugin Js -->
    <script src="~/html/assets/vendor/sweetalert/sweetalert.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            $('#btnSave').on('click', function () {

                if ($("#criminal_no").val() == "") {
                    swal("provide criminal no", "criminal No required", "success");
                    //alert("Provide Criminal No");
                    return;
                }

                if ($("#first_name").val() == "") {
                    swal({
                        title: "Criminal Details",
                        text: "provide fist name",
                        icon: "success"
                    });
                    //alert("provide first name");
                    return;
                }

                if ($("#last_name").val() == "") {
                    alert("provide last name");
                    return;
                }

                if (confirm("You are about to save Criminal Details. Continue ?") == false)
                    return;


                saveCriminal();

            });
        })
        function saveCriminal() {
            var criminalNo = $('#criminal_no').val();
            var firstName = $('#first_name').val();
            var middleName = $('#middle_name').val();
            var lastName = $('#last_name').val();
            var sex = $('#sex').val();
            var dateOfBirth = $('#date_of_birth').val();
            var height = $('#height').val();
            var weight = $('#weight').val();
            var eyeColor = $('#eye_color').val();
            var hairColor = $('#hair_color').val();
            var build = $('#build').val();
            var scarsMarks = $('#scars_and_marks').val();
            var occupation = $('#occupation').val();
            var knownGangAffiliation = $('#known_gang_affiliation').val();
            var citizen = $('#citizen').val();
            var nationalIdentity = $('#national_identity').val();

            //var data = new FormData();
            ////var file = $('form input[type=file]')[0].files[0];
            //var fileFields = $('form input[type=file]');
            //$.each(fileFields, function (i, file) {
            //    data.append('files', file.files[0]);
            //})

            var criminal = {
                criminal_no: criminalNo,
                first_name: firstName,
                middle_name: middleName,
                last_name: lastName,
                sex: sex,
                date_of_birth: dateOfBirth,
                height: height,
                weight: weight,
                eye_color: eyeColor,
                hair_color: hairColor,
                build: build,
                scars_and_marks: scarsMarks,
                occupation: occupation,
                known_gang_affiliation: knownGangAffiliation,
                citizen: citizen,
                national_identity: nationalIdentity
            };

            //data.append('model', JSON.stringify(criminal));

            $.ajax({
                type: 'POST',
                url: '/criminals/SaveCriminal',
                contentType: 'application/json',
                data: JSON.stringify(criminal),
                cache: false,
                processData: false,

                success: function (e) {

                    alert(e);
                    //alert('Travel Advance saved successfully');
                    if (e == "Saved Successfully") {
                        window.location.href = '/Criminals/index';
                    }
                },
                error: function (e) {
                    swal("Error while inserting data", "Error", "success")
                    //alert("Error while inserting data");
                }
            });


        };

        var openFile = function (event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('output');
                output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        };
    </script>

}
